# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# linux Executables
Problem1
Problem2
Problem3
Problem4
Problem5 

# VSCode
.vscode/
.vs/

# CLion
.idea/
cmake-build-*/

# Build directories
build/
out/
Debug/
Release/
